@tailwind base;
@tailwind components;
@tailwind utilities;

.notesContent
{
    position: fixed;
    right: 0;
    top: 4.99vw;
    scrollbar-width: 0;
    width: 79vw;
    height: 100vh;
    padding: 1vw 3vw;
    background-color: aliceblue;
    border-radius: 1vw 0 0 0;
    /* border-left: 2px solid #826cc7; */
    z-index: 0;
}