@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.register
{
    position: fixed;
    right: -100%;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #5337AC;
    color: #fff;
    border-radius: 20% 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5vw;
    transition: all 0.2s ease-out;
}

.register:hover
{
    border-radius: 10% 0 0 10%;
}

.rHeading
{
    width: 100%;
    height: 10%;
    font-weight: 700;
    margin: 1vw;
}

.RegPara
{
    opacity: 0;
    font-size: 1.6vw;
    margin: 1.5vw;
    text-align: center;
    font-family: 'Caveat';
}

.rContent
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rButton
{
    width: 100px;
    height: 40px;
    background-color: #6951b7;
    font-size: 0.9vw;
    border-radius: 2.5vw;
    transition: all 0.2s ease-out;
}

.rButton:hover
{
    background-color: #8575bb;
    border-radius: 1vw;
}
.form{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15%;
    border-radius: 0.3vw;
    font-size: 1.4vw;
}

/* .error
{
    display: block;
    color: black;
    font-size: 125%;
} */